.icon {
    background-color: rgb(241, 234, 234)
}

.icon.icon-text {
    -webkit-mask-image: url(../images/icons/text.svg);
    mask-image: url(../images/icons/text.svg)
}

.icon.icon-sms {
    -webkit-mask-image: url(../images/icons/sms.svg);
    mask-image: url(../images/icons/sms.svg)
}

.icon.icon-download {
    -webkit-mask-image: url(../images/icons/download.svg);
    mask-image: url(../images/icons/download.svg)
}

.icon.icon-copy {
    -webkit-mask-image: url(../images/icons/copy.svg);
    mask-image: url(../images/icons/copy.svg)
}

.icon.icon-broken-link {
    -webkit-mask-image: url(../images/icons/broken-link.svg);
    mask-image: url(../images/icons/broken-link.svg)
}

.icon.icon-user {
    -webkit-mask-image: url(../images/icons/user.svg);
    mask-image: url(../images/icons/user.svg)
}

.icon.icon-circle-plus {
    -webkit-mask-image: url(../images/icons/plus-circled.svg);
    mask-image: url(../images/icons/plus-circled.svg)
}

.icon.icon-circle-minus {
    -webkit-mask-image: url(../images/icons/minus-circled.svg);
    mask-image: url(../images/icons/minus-circled.svg)
}